In [129]:
# Pandas Dependencies and Setup
import pandas as pd

# Load File
csvfile = "Resources/purchase_data.csv"

# Read file and store into data frame
purchase_data = pd.read_csv(csvfile)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [130]:
# Determine total number of players
player_count = len(purchase_data["SN"].unique())
total_players = pd.DataFrame({"Total Players": [player_count]})
total_players

   Total Players
0            576

In [131]:
# Determine totals: unique items, avg purchase price, number of purchases, revenue
unique_items = len(purchase_data["Item Name"].unique())
avg_purchase = purchase_data["Price"].mean()
total_purchases = len(purchase_data["Purchase ID"])
total_revenue = purchase_data["Price"].sum()

# Put data into DataFrame
total_df = pd.DataFrame({"Unique Items":[unique_items],"Average Purchase Price":[avg_purchase],"Number of Purchases":[total_purchases],"Total Revenue":[total_revenue]})

# Map formatting onto average purchase and total revenue
total_df["Average Purchase Price"] = total_df["Average Purchase Price"].map("${:.2f}".format)
total_df["Total Revenue"] = total_df["Total Revenue"].map("${:,.2f}".format)
total_df

   Unique Items Average Purchase Price  Number of Purchases Total Revenue
0           179                  $3.05                  780     $2,379.77

In [132]:
# Gender Demographics

# Count of male, female, and other/non-disclosed players
unique_players = purchase_data.drop_duplicates(["SN"])
gender_data = unique_players.groupby(["Gender"]).count()

# ** I did not end up using this because I felt like this was not the cleanest method and changed directions**
dudes = gender_data.loc["Male","SN"]
dudettes = gender_data.loc["Female","SN"]
other = gender_data.loc["Other / Non-Disclosed","SN"]

In [133]:
# Gender Demographics

# Percentage of each gender
# **Did not end up using this because I felt like this was not the cleanest method and changed directions**
dude_percent = (dudes/player_count*100)
dudette_percent = (dudettes/player_count*100)
other_percent = (other/player_count*100)

# Construct gender demographics DataFrame and percentage using DataFrames
gender_df = pd.DataFrame(gender_data["SN"])
percentage = gender_df["SN"]/player_count*100
gender_df["Percentage of Players"] = percentage

# Formatting
gender_df["Percentage of Players"] = gender_df["Percentage of Players"].map("{:.2f}%".format)
gender_df.rename(columns={"SN":"Total Count"},inplace=True)
gender_df2 = gender_df.sort_values(by = "Total Count",ascending = False)

gender_df2

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [134]:
# Purchasing Analysis (Gender)
# By gender, obtain purchase count, avg purchase price, total purchase value, and avg purchase total per person

# Assemble data
purchase_counts = purchase_data.groupby("Gender")["Purchase ID"].count()
avg_purchase_price = purchase_data.groupby("Gender")["Price"].mean()
purchase_value = purchase_data.groupby("Gender")["Price"].sum()
avg_purchase_pp = purchase_value/(gender_df["Total Count"])

In [141]:
# Purchasing Analysis (Gender)

# Build DataFram
purchasing_df = pd.DataFrame({"Purchase Count":purchase_counts,"Avg Purchase Price":avg_purchase_price,"Total Purchase Value":purchase_value,"Avg Purchase Total per Person":avg_purchase_pp})
purchasing_df["Avg Purchase Price"] = purchasing_df["Avg Purchase Price"].map("${:.2f}".format)
purchasing_df["Total Purchase Value"] = purchasing_df["Total Purchase Value"].map("${:,.2f}".format)
purchasing_df["Avg Purchase Total per Person"] = purchasing_df["Avg Purchase Total per Person"].map("${:.2f}".format)


purchasing_df

,Purchase Count,Avg Purchase Price,Total Purchase Value,Avg Purchase Total per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56