In [1]:
# Pandas Dependencies and Setup
import pandas as pd

# Load File
csvfile = "Resources/purchase_data.csv"

# Read file and store into data frame
purchase_data = pd.read_csv(csvfile)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [7]:
# Determine total number of players
player_count = len(purchase_data["SN"].unique())
total_players = pd.DataFrame({"Total Players": [player_count]})
total_players

   Total Players
0            576

In [16]:
# Determine totals: unique items, avg purchase price, number of purchases, revenue
unique_items = len(purchase_data["Item Name"].unique())
avg_purchase = purchase_data["Price"].mean()
total_purchases = len(purchase_data["Purchase ID"])
total_revenue = purchase_data["Price"].sum()

# Map formatting onto average purchase and total revenue

avg_purchase = avg_purchase.map("${:}")
print(avg)

# Put data into DataFrame
total_df = pd.DataFrame({"Unique Items":[unique_items],"Average Purchase Price":[avg_purchase]})

AttributeError: 'numpy.float64' object has no attribute 'map'