In [48]:
# Pandas Dependencies and Setup
import pandas as pd

# Load File
csvfile = "Resources/purchase_data.csv"

# Read file and store into data frame
purchase_data = pd.read_csv(csvfile)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [51]:
# Determine total number of players
player_count = len(purchase_data["SN"].unique())
total_players = pd.DataFrame({"Total Players": [player_count]})
total_players

   Total Players
0            576

In [52]:
# Determine totals: unique items, avg purchase price, number of purchases, revenue
unique_items = len(purchase_data["Item Name"].unique())
avg_purchase = purchase_data["Price"].mean()
total_purchases = len(purchase_data["Purchase ID"])
total_revenue = purchase_data["Price"].sum()

# Put data into DataFrame
total_df = pd.DataFrame({"Unique Items":[unique_items],"Average Purchase Price":[avg_purchase],"Number of Purchases":[total_purchases],"Total Revenue":[total_revenue]})

# Map formatting onto average purchase and total revenue
total_df["Average Purchase Price"] = total_df["Average Purchase Price"].map("${:.2f}".format)
total_df["Total Revenue"] = total_df["Total Revenue"].map("${:.2f}".format)
total_df

   Unique Items Average Purchase Price  Number of Purchases Total Revenue
0           179                  $3.05                  780      $2379.77

In [62]:
# Gender Demographics
# Count of male, female, and other/non-disclosed players
unique_players = purchase_data.drop_duplicates(["SN"])
gender_data = unique_players.groupby(["Gender"]).count()
dudes = gender_data.loc["Male","SN"]
dudettes = gender_data.loc["Female","SN"]

gender_data

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                          81   81   81       81         81     81
Male                           484  484  484      484        484    484
Other / Non-Disclosed           11   11   11       11         11     11